br {
    line-height: 0.2;
/* Reset margin dan padding default */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.3; /* spasi antar baris lebih rapat */
    font-size: 14px; /* ukuran font default */
    color: black;
}



/* Paragraf */
p {
    margin: 0 0 0.5em 0; /* margin bawah lebih kecil */
}

/* Heading */
h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0 0.3em 0;
    font-weight: bold;
    line-height: 1.2;
}

/* List */
ul, ol {
    margin: 0 0 0 0.5em;
    padding: 0;
    color: black;
}

li {
    color: black;
    margin-bottom: 0.2em;
}

/* Break line */
br {
    line-height: 0.2; /* rapatkan <br> */
}

/* Link */
a {
    color: #0d6efd; /* warna link Bootstrap */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

th, td {
    border: 1px solid #ccc;
    padding: 0.4em 0.6em;
    text-align: left;
}

th {
    background-color: #f8f9fa; /* warna header seperti Bootstrap */
}

/* Bold, italic */
strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}
}
